/* =========================================
  CREATE NEW ORGANASITAION
========================================= */

.create-organisation .subheading {
    margin-top: -40px;
}

/* =========================================
  CREATE BLOCK
========================================= */

.create-block {
    display: grid;
    grid-template-columns: auto 550px;
    grid-template-rows: auto auto;
    
}

.create-block .input {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

/* =========================================
  INPUT
========================================= */

.input {
    height: 40px;
    background-color: hsl(0, 0%, 100%, .04);
    padding: 12px;
    border-radius: 9px;
    border: 1px solid hsl(0, 0%, 100%, .04);
}

.input,
.invite input {
    font-size: 14px;
    font-variation-settings: 'wght' 520;
}

.input:hover {
    background-color: hsl(0, 0%, 100%, .06);
    border-color: hsl(0, 0%, 100%, .07);
}

.input.focus,
.input:focus {
    border-color: #0D68F5;
    background-color: hsl(0, 0%, 100%, .06);
}

.invite input::placeholder,
.input::placeholder,
.create-placeholder {
    color: #4B4B4B;
}


.create-organisation.new > :last-child button {
    height: 34px;
    width: 100%;
}




/* =========================================
    RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {
    /* =========================================
        CREATE NEW ORGANASITAION
    ========================================= */

    .create-organisation .subheading {
        margin-top: -36px;
    }

    /* =========================================
        CREATE BLOCK
    ========================================= */

    .create-block {
        grid-template-columns: auto 500px;
    }

    .create-block .input {
        grid-column: 2 / 2;
        grid-row: 1 / 3;
    }

    /* =========================================
        INPUT
    ========================================= */

    .input {
        height: 38px;
        padding: 10px;
    }

    .input,
    .invite input {
        font-size: 13px;
    }

    .create-organisation.new > :last-child button {
        height: 32px;
        width: 100%;
    }

}

/* =========================================
    BORDER PADDING
========================================= */

@media (max-width: 1023px) {
    .new-org {
        margin: 36px 0 0 0;
        align-items: start;
    }
}





/* =========================================
    PHONE LAYOUT
========================================= */

@media (max-width: 767px) {
    .create-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 14px;
    }

    .create-block .short-link {
        grid-column: 2 / 3;
        justify-self: end;
    }

    .create-block .input {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}