/* =========================================
  STRUCUTRE
========================================= */

.site-complete  .subheading {
    margin-top: -20px;
}

.site-complete .site-card-thumbnail {
  aspect-ratio: 15 / 7.758;
  opacity: .85;
  animation: image-load-in .3s;
}

.site-complete .site-card-thumbnail:hover {
  opacity: 1;
}

@keyframes image-load-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .85;
  }
}

/* =========================================
  NEXT STEP COMPLETE
========================================= */

.next-step-button {
  font-size: 14px;
  font-variation-settings: 'wght' 550;
  color: #595959;
  stroke: #595959;
  background-color: hsl(0, 0%, 100%, .02);
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 100%, .04);
}

.next-step-button .icon-wrap {
  height: 24px;
  aspect-ratio: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 5%) 0%, rgba(255, 255, 255, 3%) 100%);
  border: 1px solid hsl(0, 0%, 100%, .05);
  border-radius: 50px;
}

.next-step-button svg {
  height: 12px;
  width: auto;
}

.next-step-button .arrow {
  margin-left: auto;
  stroke: none;
  fill: #404040;
  height: 10px;
  margin-right: 4px;
  width: auto;
}

.next-step-button:hover .arrow {
  margin-right: 0;
}

.next-step-button:hover {
  background-color: hsl(0, 0%, 100%, .05);
  color: #999999;
  stroke: #999999;
}

.next-step-button:hover .icon-wrap {
  background: linear-gradient(180deg, rgba(255, 255, 255, 10%) 0%, rgba(255, 255, 255, 6%) 100%);
}

.next-step-button:hover .arrow {
  fill: #4A4A4A;
}



/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {
  /* =========================================
    STRUCUTRE
  ========================================= */

  .site-complete  .subheading {
      margin-top: -24px;
  }

  /* =========================================
    NEXT STEP COMPLETE
  ========================================= */

  .next-step-button {
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 12px;
  }

  .next-step-button .icon-wrap {
    height: 23px;
  }

  .next-step-button svg {
    height: 12px;
    width: auto;
  }

  .next-step-button .arrow {
    height: 9px;
  }

}

@media (max-width: 900px) {
  .card.site-complete {
        padding: 14px !important;
    }

}

