/* =========================================
  MENU
========================================= */

.menu {
  width: 240px;
  border-right: 1px solid #212121;
  height: 100%;
  transition: all .38s cubic-bezier(0.3, 0.9, 0.4, 1);
  overflow-Y: atuo;
  max-height: 100%;
  flex-wrap: nowrap;
  overflow-x: visible !important;
  scrollbar-width: none;
}

.tab {
  margin: 0 14px;
}

.menu.org > :last-child {
  margin: auto 14px 16px 14px;
}

/* =========================================
  MENU COLLAPSED
========================================= */

.menu.collapsed .menu-tab-label,
.menu.on-hover .menu-tab-label,
.menu.on-hover .change-log,
.menu.on-hover .org-label,
.menu.on-hover .org-plan,
.menu.on-hover .chevron,
.menu.collapsed .change-log,
.menu.collapsed .organisation-toggle .org-label,
.menu.collapsed .organisation-toggle .org-plan,
.menu.collapsed .organisation-toggle .chevron {
  opacity: 0;
  pointer-events: none;
}

.menu.expanded .menu-tab-label,
.menu.on-hover.hover .change-log,
.menu.on-hover.hover .org-label,
.menu.on-hover.hover .org-plan,
.menu.on-hover.hover .chevron,
.menu.expanded .change-log,
.menu.expanded .organisation-toggle .org-label,
.menu.expanded .organisation-toggle .org-plan,
.menu.expanded .organisation-toggle .chevron {
  transition: all .19s cubic-bezier(0.3, 0.9, 0.4, 1) .19s !important;
}


.menu .organisation-toggle .organisation-icon {
  transition: opacity .18s cubic-bezier(0.3, 0.9, 0.4, 1), transform .38s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu.on-hover .organisation-toggle .organisation-icon,
.menu.collapsed .organisation-toggle .organisation-icon {
  transform: translateX(4px);
}

.menu.collapsed {
  width: 64px;
}

.menu .tab svg,
.menu.on-hover .dropdown-wrap.menu-controls,
.menu.collapsed .dropdown-wrap.menu-controls {
  transition: opacity .18s cubic-bezier(0.3, 0.9, 0.4, 1), transform .38s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu.on-hover .dropdown-wrap.menu-controls,
.menu.collapsed .dropdown-wrap.menu-controls {
  transform: translateX(-24px);
}

.menu.on-hover.hover .menu-tab-label,
.menu.on-hover.hover .change-log,
.menu.on-hover.hover .tab span,
.menu.expanded .change-log,
.menu.expanded .tab span {
  transition: all .19s cubic-bezier(0.3, 0.9, 0.4, 1) .19s !important;
}

.menu.on-hover .tab span,
.menu.collapsed .tab span{
  opacity: 0;
  transition: all .19s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu.on-hover .tab svg,
.menu.collapsed .tab svg {
  transform: translateX(-1px);
}

/* =========================================
  MENU HOVER
========================================= */

.menu.on-hover {
  width: 64px;
  z-index: 20000;
  background-color: #171717;
}

.menu.on-hover:hover {
  width: 240px;
}

.menu.on-hover:hover .dropdown-wrap.menu-controls {
  transform: translateX(0);
}

.menu.on-hover:hover .tab span {
  opacity: 1;
}

.menu.on-hover:hover .tab svg {
  transform: translateX(0);
}

.menu.on-hover:hover .menu-tab-label,
.menu.on-hover:hover .change-log,
.menu.on-hover:hover .org-label,
.menu.on-hover:hover .org-plan,
.menu.on-hover:hover .chevron {
  opacity: 1;
  pointer-events: all;
}

.menu.on-hover:hover .organisation-toggle .organisation-icon {
  transform: translateX(0);
}

/* =========================================
  MENU WRAP
========================================= */


.menu-wrap {
  width: 240px;
  transition: all .38s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu-wrap.on-hover,
.menu-wrap.collapsed {
  width: 64px;
}


/* =========================================
  TABS
========================================= */

.tab {
  display: grid;
  grid-template-columns: 15px 1fr;
  gap: 10px;
  min-height: 35px;
  font-size: 13px;
  font-variation-settings: 'wght' 550;
  color: #595959;
  border-radius: 6px;
  border: 1px solid transparent;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  fill: #595959;
  justify-items: start;
}

.tab .icon {
  justify-self: center;
  align-self: center;
}

.tan .icon.width {
  width: 15px;
  width: auto;
}

.tab .icon.height {
  height: 15px;
  width: auto;
}

.tab span {
  transform: translateY(-0.5px);
}




.tab:hover {
  background-color: hsl(0, 0%, 100%, .02);
  border-color: hsl(0, 0%, 100%, .02);
  color: #7A7A7A;
  fill: #7A7A7A;
}

.tab.active {
  background-color: hsl(0, 0%, 100%, .04);
  border-color: hsl(0, 0%, 100%, .04);
  fill: #0D68F5;
  color: #FCFCFC;
}


/* =========================================
  SETTINGS MENU
========================================= */

.menu.settings > button:first-child {
  font-size: 14px;
  margin: 16px 14px 16px 14px;
  fill: #E6E6E6;
  color: #E6E6E6;
  font-variation-settings: 'wght' 600;
  padding-left:6px;
}

.menu.settings > button:first-child svg {
  transform: rotate(180deg);
}


.menu.settings > button:first-child:hover {
  color: white;
  fill: white;
}

.menu.settings > button:first-child:hover svg {
  transform: rotate(180deg) translateX(6px);
}

/* =========================================
  SETTINGS TABS
========================================= */

.tab.settings {
  min-height: 30px;
  display: block;
  text-align: left;
  font-size: 12px;
}

/* =========================================
  VAIRATIONS
========================================= */

.menu-scroll.heading-margin-right h1{
  margin-right: auto;
}

/* =========================================
  LABEL
========================================= */

.menu-tab-label {
  font-size: 12px;
  font-variation-settings: 'wght' 600;
  color: #333333;
  padding: 16px 14px 8px 14px;
}

.menu-tab-label.first {
  padding-top: 0px;
}

/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) and (min-width: 1024px){
  /* =========================================
    MENU
  ========================================= */

  .menu {
    width: 225px;
  }

  .tab {
    margin: 0 12px;
  }

  .menu.org > :last-child {
    margin: auto 12px 14px 12px;
    padding-top: 32px;
  }

  /* =========================================
    MENU COLLAPSED
  ========================================= */



  .menu.on-hover .organisation-toggle .organisation-icon,
  .menu.collapsed .organisation-toggle .organisation-icon {
    transform: translateX(5px);
  }

  .menu.collapsed {
    width: 56px;
  }

  .menu.on-hover .dropdown-wrap.menu-controls,
  .menu.collapsed .dropdown-wrap.menu-controls {
    transform: translateX(-26px);
  }


  .menu.on-hover .tab svg,
  .menu.collapsed .tab svg {
    transform: translateX(-3px);
  }

  /* =========================================
    MENU HOVER
  ========================================= */

  .menu.on-hover {
    width: 56px;
  }

  .menu.on-hover:hover {
    width: 225px;
  }

  .menu.on-hover:hover .dropdown-wrap.menu-controls {
    transform: translateX(0);
  }

  .menu.on-hover:hover .tab svg {
    transform: translateX(0);
  }

  .menu.on-hover:hover .organisation-toggle .organisation-icon {
    transform: translateX(0);
  }

  /* =========================================
    MENU WRAP
  ========================================= */


  .menu-wrap {
    width: 225px;
    transition: all .38s cubic-bezier(0.3, 0.9, 0.4, 1);
  }

  .menu-wrap.on-hover,
  .menu-wrap.collapsed {
    width: 56px;
  }

  /* =========================================
    TABS
  ========================================= */

  .tab {
    gap: 9px;
    min-height: 32px;
    font-size: 12px;
    padding: 0 9px;
  }

  .tab .icon.width {
    width: 14px;
  }

  .tab .icon.height {
    height: 14px;
  }

  /* =========================================
    SETTINGS MENU
  ========================================= */

  .menu.settings > button:first-child {
    font-size: 13px;
    margin: 14px 12px 14px 12px;
    padding-left:6px;
  }

  /* =========================================
    SETTINGS TABS
  ========================================= */

  .tab.settings {
    min-height: 29px;
    font-size: 12px;
  }

  .menu-tab-label {
    font-size: 11px;
    padding: 14px 12px 4px 12px;
  }

}

@media (max-width: 1023px) {
  .menu-wrap {
    position: fixed;
    display: flex;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100% !important;
    background-color: hsl(0, 0%, 4%, .8);
    z-index: 100000;
    backdrop-filter: blur(7px);
    align-items: end;
    opacity: 0 ;
    pointer-events: none;
    transition: opacity .2s cubic-bezier(0.3, 0.9, 0.4, 1);
  }


  .menu-wrap.show {
    opacity: 1;
    pointer-events: all;
  }

   .menu-wrap.hide {
    transition: opacity .2s cubic-bezier(0.3, 0.9, 0.4, 1) .2s;
   }

   .menu.on-hover {
    width: 100%;
   }

   .menu-wrap.hide .menu {
    transform: translateY(100%);
   }

  .menu {
    width: 100%;
    height: auto;
    max-height: 90%;
    background-color: #1A1A1A;
    padding: 4% 28px;
    border-radius: 12px 12px 0 0 ;
    border-top: 1px solid hsl(0, 0%, 100%, .1);
  }

  .menu > :last-child {
    display: none;
  }

  .tab {
    font-size: 15px;
    min-height: 42px;
    margin: 0;
    padding: 0 12px;
    gap: 12px;
    grid-template-columns: 20px 1fr;
  }

  .tab .icon.height {
    height: 20px;
    width: auto;
  }

  .tab .icon.width {
    width: 20px;
    height: auto;
  }

  .menu-tab-label {
    font-size: 15px;
    padding: 24px 0 8px 0;
  }
}


@media (max-width: 767px) {
    .menu {
      padding: 24px 3%;
    }

    .tab {
      font-size: 13px;
      min-height: 36px;
      padding: 0 10px;
      gap: 10px;
      grid-template-columns: 16px 1fr;
    }

    .tab .icon.height {
      height: 16px;
      width: auto;
    }

    .tab .icon.width {
      width: 16px;
      height: auto;
    }

    .menu-tab-label {
    font-size: 13px;
    padding: 20px 0 8px 0;
  }
}