/* =========================================
  NEW SITE REPO STRUCTURE
========================================= */

.new-site-repo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.new-site-repo p,
.new-site-repo h1 {
    grid-column: 1 / 3;
}


.new-site-repo .subheading {
    margin: 10px 0 32px 0;
}

/* =========================================
  NEW SITE REPO STRUCTURE
========================================= */


.select-git-prov .subheading-two {
    margin-bottom: 16px;
}

.select-git-prov .short-link {
    margin-top: 16px;
}

.import-git-prov .go-button {
    margin-right: auto;
}

/* =========================================
  UPLOAD FOLDER
========================================= */

.card.unavailable {
    background-color: hsl(0, 0%, 50%, .01);
    border: 1px solid hsl(0, 0%, 100%, .01);
}

.card.unavailable .label {
    color: #4D4D4D;
}

.card.unavailable .label span {
    color: #333333;
    margin-left: 3px;
}

.card.unavailable .empty-sites {
    height: 100%;
    opacity: .5;
}

/* =========================================
  BUTTON
========================================= */

.select-git-provider {
    height: 38px;
    border: 1px solid hsl(0, 0%, 100%, .06);
    background-color: hsl(0, 0%, 100%, .04);
    border-radius: 10px;
    font-size: 14px;
    font-variation-settings: 'wght' 550;
    color: #E6E6E6;
    fill: #E6E6E6;
}

.select-git-provider svg {
    width: 18px;
    height: auto;
}

.select-git-provider:hover {
    background-color: hsl(0, 0%, 100%, .07);
    border: 1px solid hsl(0, 0%, 100%, .07);
    color: white;
    fill: white;
}

.select-git-provider.gitlab img,
.select-git-provider.bitbucket img {
    opacity: .85;
}

.select-git-provider.gitlab:hover img,
.select-git-provider.bitbucket:hover img {
    opacity: 1;
}

.select-git-provider.gitlab {
    background-color: #5838B2;
    border-color: hsl(0, 0%, 100%, .12);
}

.select-git-provider.gitlab:hover {
    background-color: #6E4BD2;
    border-color: hsl(0, 0%, 100%, .2);
}

.select-git-provider.bitbucket {
    background-color: #1E5AB3;
    border-color: hsl(0, 0%, 100%, .12);
}

.select-git-provider.bitbucket:hover {
    background-color: #065FE4;
    border-color: hsl(0, 0%, 100%, .2);
}

/* =========================================
  GIT REPOS WRAP
========================================= */

.git-repos-wrap .search-wrap {
    width: 100%;
    margin-bottom: 6px;
}





/* =========================================
  GIT SELECTED STRUCTURE
========================================= */

.card.new-site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.card.new-site .form-accordation,
.card.new-site .button.blue,
.card.new-site .subheading,
.new-site-source-wrap,
.card.new-site h3 {
    grid-column: 1 / 3;
}

.card.new-site .subheading {
    margin-top: 0px;
    margin-bottom: -8px;
}

.card.site-complete .button.blue,
.card.new-site .button.blue {
    height: 40px;
    font-size: 14px;
}

/* =========================================
  GIT SELECTED IMPORT FROM
========================================= */

.new-site-source-wrap {
    background-color: hsl(0, 0%, 100%, .02);
    padding: 14px 16px;
    margin-top: -16px;
    border-radius: 14px;
    align-items: center;
    font-size: 15px;
    row-gap: 12px;
    white-space: wrap;
    color: #F2F2F2;
    font-variation-settings: 'wght' 600;
    display: flex;
    flex-direction: column;
    grid-template-columns: min-content min-content min-content min-content;
    align-items: flex-start;
}

.new-site-source-wrap p {
    grid-column: 1 / 5;
    color: #5C5C5C;
    font-size: 13px;
}

.new-site-source-wrap .git {
    height: auto;
    width: 18px;
    fill: #F2F2F2;
    margin-right: 8px;
}

.new-site-source-wrap .branch {
    margin-right: 6px;
    fill: #404040;
}

.new-site-source-wrap span {
    color: #404040;
    font-size: 14px;
    font-variation-settings: 'wght' 550;
}

/* =========================================
  LOADING POP UP
========================================= */

.importing-popup {
    position: absolute;
    bottom: 32px;
    padding: 14px;
    background: linear-gradient(133.889deg, rgba(255, 255, 255, 4%) 0%, rgba(255, 255, 255, 3%) 100%);
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 100%, .1);
    font-size: 14px;
    font-variation-settings: 'wght' 500;
    color: white;
    animation: popup .3s ease;
}

.importing-popup svg {
    animation: spinner 1.1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(32px) scale(90%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) ;
    }
}


/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {
    /* =========================================
    NEW SITE REPO STRUCTURE
    ========================================= */

    .new-site-repo {
        column-gap: 14px;
    }


    .new-site-repo .subheading {
        margin: 8px 0 28px 0;
    }

    /* =========================================
    NEW SITE REPO STRUCTURE
    ========================================= */


    .select-git-prov .subheading-two {
        margin-bottom: 14px;
    }

    .select-git-prov .short-link {
        margin-top: 14px;
    }


    /* =========================================
    BUTTON
    ========================================= */

    .select-git-provider {
        height: 35px;
        border-radius: 8px;
        font-size: 13px;
    }

    .select-git-provider img,
    .select-git-provider svg {
        width: 16px;
        height: auto;
    }

    /* =========================================
    GIT SELECTED STRUCTURE
    ========================================= */

    .card.new-site {
        column-gap: 18px;
        row-gap: 36px;
    }

    .card.new-site .subheading {
        margin-top: 0px;
        margin-bottom: -8px;
    }

    .card.site-complete .button.blue,
    .card.new-site .button.blue {
        height: 36px;
        font-size: 13px;
    }

    /* =========================================
    GIT SELECTED IMPORT FROM
    ========================================= */

    .new-site-source-wrap {
        padding: 12px 12px;
        margin-top: -14px;
        border-radius: 12px;
        font-size: 13px;
        row-gap: 10px;
    }

    .new-site-source-wrap p {
        font-size: 11px;
    }

    .new-site-source-wrap .git {
        width: 15px;
    }

    .new-site-source-wrap .branch {
        height: 14px;
        width: auto;
    }

    .new-site-source-wrap span {
        color: #404040;
    }

    .card.import-git-prov {
        padding: 16px;
    }

    .importing-popup {
        bottom: 28px;
        padding: 13px;
        border-radius: 7px;
        font-size: 13px;
    }

    .importing-popup svg {
        height: 18px;
        width: auto;
    }


}

@media (max-width: 1023px) {
    
    .new-site-repo {
        display: block;
        flex-direction: column;
    }

    .card.unavailable {
        margin-top: 32px;
        height: 300px;
    }

    
    .card.new-site {
        gap: 32px;
    }

    .card.new-site .subheading {
        margin-bottom: -12px;
    }

    .card.new-site .f-col {
        grid-column: 1 / 3;
        gap: 14px !important;
    }

    .form-accordation.bottom {
        margin-top: -16px !important;
    }

    
}