/* =========================================
  PLAN DROPDOWN
========================================= */

.form-dropdown.plan .label {
    font-variation-settings: 'wght' 500;
    margin-right: auto;
}


.form-dropdown .chevron {
    stroke: #494949;
    fill: #494949;
    height: 12px;
    width: auto;
}

.form-dropdown:hover .chevron {
    stroke: #595959;
    fill: #595959;
}

/* =========================================
  ORGANISATION DROPDOWN
========================================= */

.form-dropdown .organisation-icon {
    height: 20px;
    width: 20px;
}

.form-dropdown:hover .organisation-icon {
    opacity: 1;
}