/* =========================================
  SITES CARD
========================================= */

.sites-card-wrap {
    grid-row: 1 / 3;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1730px) {
    .sites-card-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

.site-card {
    padding: 6px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 90%, .03);
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 100%, .04);
}

.site-card-thumbnail {
    width: 100%;
    aspect-ratio: 15 / 9;
    background-size: cover;
    margin: 1px;
    border-radius: 8px;
    position: relative;
}

.site-card-thumbnail::before {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    border: 1px solid hsl(0, 0%, 100%, .05);
    border-radius: 8px;
    display: block;
    content: "";
}

.site-card-content-wrap {
    padding: 8px;
}

.site-card-content-top-block {
    display: grid;
    row-gap: 6px;

}

.site-card-heading {
    color: #F2F2F2;
    font-size: 16px;
    font-variation-settings: 'wght' 650;
}

.site-card-link {
    font-size: 14px;
    font-variation-settings: 'wght' 500;
    color: #115ED4;
}

.site-card-content-top-block button {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}

.site-card-git-upload {
    background-color: hsl(0, 0%, 90%, .03);
    padding: 8px;
    border-radius: 8px;
    fill: #DEDEDE;
    overflow: hidden;
    font-size: 12px;
    font-variation-settings: 'wght' 550;
    line-height: 0;
}

.site-card-git-upload a{
    color: #DEDEDE;
}

.site-card-git-upload:hover {
    background-color: hsl(0, 0%, 100%, .05);
}

.site-card-status-wrap {
    font-size: 13px;
    font-variation-settings: 'wght' 600;
    color: #F2F2F2;
}

.site-card-status-label {
    color: #424242;
    font-size: 12px;
    font-variation-settings: 'wght' 520;
}

.site-card .circle-stat {
    margin-left: auto;
    font-size: 12px;
    font-variation-settings: 'wght' 570;
    color: #E6E6E6;
}

.site-card .circle-stat svg {
    opacity: .8;
}

/* =========================================
  HOVER
========================================= */

.site-card:hover {
    background-color: hsl(0, 0%, 90%, .05);
    border: 1px solid hsl(0, 0%, 100%, .05);
}

.site-card:hover .site-card-heading {
    color: white;
}

.site-card:hover .site-card-link {
    color: #0D68F5;
}

.site-card:hover .site-card-git-upload {
    fill: #F2F2F2;
    color: #F2F2F2;
}

.site-card:hover .site-card-status-wrap {
    color: white;
}

.site-card:hover .site-card-status-label {
    color: #4F4F4F;
}

.site-card:hover .circle-stat {
    color: white;
}

.site-card:hover .circle-stat svg {
    opacity: 1;
}

.site-card-link:hover {
    color: #1F77FF !important;
}

 .site-card .transbutton:hover {
        background-color: hsl(0, 0%, 100%, .05);
        fill: white !important;
    }



/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {
    /* =========================================
    SITES CARD
    ========================================= */

    .sites-card-wrap {
        grid-row: 1 / 3;
        display: flex;
        flex-wrap: wrap;
    }

    .site-card {
        padding: 6px;
        flex: 1;
        height: auto;
        max-width: calc(50% - 9px);
        white-space: nowrap;
    }

    .site-card-content-wrap {
        padding: 8px;
    }

    .site-card-content-top-block {
        row-gap: 6px;

    }

    .site-card-heading {
        font-size: 15px;
    }

    .site-card-link {
        font-size: 13px;
    }

    .site-card-git-upload {
        padding: 10px;
        font-size: 12px;
    }

    .site-card-git-upload svg {
        min-width: 15px;
        height: auto;
    }

    .site-card-status-wrap {
        font-size: 13px;
    }

    .site-card-status-label {
        font-size: 12px;
    }

    .site-card .circle-stat svg {
        width: 36px;
        height: auto;
    }

   

    .site-card .circle-stat {
        font-size: 11px;
    }

}

@media (max-width: 767px) {
    .sites-card-wrap {
        width: 100%;
        flex-direction: column;
    }

    .site-card {
        width: 100%;
        max-width: none;
    }
}