/* =========================================
  CARD
========================================= */

.card {
  border-radius: 12px;
  padding: 16px;
  background-color: hsl(0, 0%, 80%, .02);
  border:1px solid hsl(0, 0%, 100%, .03);
  position: relative;
}

/* =========================================
  CARD CREATE
========================================= */

.card.create-organisation {
    padding: 24px;
    background-color: hsl(0, 0%, 100%, .02);
    border: 1px solid hsl(0, 0%, 100%, .05);
    width: 830px;
}

/* =========================================
  LABEL
========================================= */

.label {
    font-size: 14px;
    font-variation-settings: 'wght' 630;
    color: #FCFCFC;
}





/* =========================================
  CARD CANVAS
========================================= */

.card.can {
  padding: 18px;
}

.card.can .card{
  padding: 16px;
  background-color: hsl(0, 0%, 80%, .03);
  border-color: hsl(0, 0%, 100%, .05);
}


/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {
  
  /* =========================================
    CARD
  ========================================= */

  .card {
    padding: 14px;
  } 

  /* =========================================
    CARD CREATE
  ========================================= */

  .card.create-organisation {
      padding: 20px;
      width: 750px;
  }

  /* =========================================
    LABEL
  ========================================= */

  .label {
      font-size: 13px;
  }

  /* =========================================
    CARD CANVAS
  ========================================= */

  .card.can {
    padding: 14px;
  }

  .card.can .card{
    padding: 14px;
  }



}

@media (max-width: 1024px) {
  .card.create-organisation {
      padding: 20px;
      width: 100%;
  }
}