/* =========================================
  BUTTON WRAP
========================================= */

.button-menu-wrap {
    background-color: hsl(0, 0%, 100%, .01);
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 25%, .15);
    height: 32px;
}

.button-menu-wrap > :first-child {
    border-radius: 4px 0 0 4px;
}

.button-menu-wrap > :last-child {
    border-radius: 0 4px 4px 0;
}

/* =========================================
  BUTTON
========================================= */


.button-menu {
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    margin: 0 -1px;
}

.button-menu svg {
    fill: #333333;
}

.button-menu:hover {
    border: 1px solid #292929;
    background-color: hsl(0, 0%, 100%, .03);
}

.button-menu:hover svg {
    fill: #454545;
}

/* =========================================
  ATRI
========================================= */

.button-menu.atri .icon {
    fill: #153668;
}

.button-menu.atri:hover {
    background-color: #16315B;
    border-color: #0D68F5;
}

.button-menu.atri:hover .icon {
    fill: #0D68F5;
}

@media (max-width: 1330px) {
    /* =========================================
    BUTTON WRAP
    ========================================= */

    .button-menu-wrap {
        height: 30px;
    }

    /* =========================================
    BUTTON
    ========================================= */


    .button-menu {
        width: 30px;
        height: 30px;
    }

    .button-menu svg {
        height: 12px;
        width: auto;
    }

}
