
/* =========================================
  SKELETON
========================================= */

.skeleton {
  background: linear-gradient(
    90deg,
    hsl(0, 0%, 100%, .04) 0%,
    hsl(0, 0%, 100%, .07) 20%,
    hsl(0, 0%, 100%, .04) 40%,
    hsl(0, 0%, 100%, .04) 100%
  );
  background-size: 200% 100%;
  border-radius: 6px;
  width: 100%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.post-skel-fade-in {
  animation: post-skel-fade-in .2s ease;
}

@keyframes post-skel-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* =========================================
  POSITIONS
========================================= */

.menu .organisation-toggle .skeleton {
    grid-column: 1 / 4;
    height: 24px;
    animation: skeleton-loading 2s linear infinite, menu-load-in .19s ease;
}

.top-bar-skeleton.skeleton {
    height: 26px;
    width: 26px;
    border-radius: 3px;
}

.skeleton.form-org-dropdown-skel {
    animation: skeleton-loading 2s linear infinite, menu-load-in .19s ease;
    height: 150%;
    width: 50%;
    margin-right: auto;
}

/* =========================================
  MENU LOAD IN
========================================= */

.new-site-load-in-up {
    animation: menu-load-in .3s ease forwards;
    opacity: 0;
    transform: translateY(8px);
}

.new-site-load-in-up.del {
    animation-delay: .08s;
}

.menu-load-in {
  animation: menu-load-in .19s ease forwards;
  opacity: 0;
  transform: translateY(8px);
}

.menu-load-in:nth-child(2) {
  animation-delay: 0.06s;
}

.menu-load-in:nth-child(3) {
  animation-delay: 0.12s;
}

.menu-load-in:nth-child(4) {
  animation-delay: 0.18s;
}

.menu-load-in:nth-child(5) {
  animation-delay: 0.24s;
}

.menu-load-in:nth-child(6) {
  animation-delay: 0.3s;
}

.menu-load-in:nth-child(7) {
  animation-delay: 0.36s;
}

@keyframes menu-load-in {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* =========================================
  TOPBAR
========================================= */

.top-bar-load-in-left {
    animation: topbar-load-in-left .19s forwards;
    opacity: 0;
    transform: translateX(-12px);
}

.top-bar-load-in-right {
    animation: topbar-load-in-right .19s forwards;
    transform: translateX(12px);
    opacity: 0;
}

.top-bar-load-in-left:nth-child(2) {
  animation-delay: 0.06s;
}

.top-bar-load-in-left:nth-child(3) {
  animation-delay: 0.12s;
}

.top-bar-load-in-right.searchbar {
    animation-delay: 0.12s;
}

.top-bar-load-in-right.menu-button-wrap {
    animation-delay: 0.06s;
}


@keyframes topbar-load-in-left {
    0% {
        opacity: 0;
        transform: translateX(-12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes topbar-load-in-right {
    0% {
        opacity: 0;
        transform: translateX(12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media (max-width: 1023px) {

    .top-bar-load-in-left-mob {
        animation: topbar-load-in-left .19s forwards;
        opacity: 0;
        transform: translateX(-12px);
    }

    .top-bar-load-in-right-mob {
        animation: topbar-load-in-right .19s forwards;
        transform: translateX(12px);
        opacity: 0;
    }

    .anim-delay {
        animation-delay: .06s;
    }

    .anim-delay-two {
        animation-delay: .12s;
    }

    .anim-delay-three {
        animation-delay: .18s;
    }


}


/* =========================================
  CREATE ORG
========================================= */

