/* =========================================
  CONTENT WRAP
========================================= */

.wrap-medium  {
    padding: 0 9%;
    margin: auto;
}

.wrap-small {
    width: 1100px;
}

/* =========================================
  TYPOGRAPHY
========================================= */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-variation-settings: 'wght' 620;
  color: #fff;
}

.subheading {
  font-size: 14px;
  color: #525252;
  font-variation-settings: 'wght' 500;
}

.subheading-two {
    font-size: 12px;
    font-variation-settings: 'wght' 500;
    color: #454545;
}


.card-sublabel {
    font-size: 12px;
    font-variation-settings: 'wght' 520;
    color: #4D4D4D;
}
/* =========================================
  STRUCTURE - MENU-SCROLL
========================================= */

.menu-scroll {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: sticky;
    background-color: hsl(0, 0%, 9%);
    z-index: 10;
    top: 0;
    padding-top: 40px;
    height: 74px;
    border: 1px solid transparent;
    transition: all .4s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu-scroll.general {
    padding: 0 32px 20px 32px;
}

.menu-scroll.h1-mar h1 {
    margin-right: auto;
}

.menu-scroll h1 {
    transition: all .4s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu-scroll.stuck h1 {
    transition: all .6s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu-scroll.stuck {
    border-bottom: 1px solid #212121;
    padding: 14px 32px;
    background-color: hsl(0, 0%, 9%, .8);
    margin: 0px;
    backdrop-filter: blur(5px);
    height: 57px;
    transition: all .6s cubic-bezier(0.3, 0.9, 0.4, 1);
}

.menu-scroll.stuck h1 {
    font-size: 18px;
}

.content {
    max-height: 100vh;
    scrollbar-width: none;
    overflow-y: scroll;
}

.content-wrap {
    padding: 0 0 40px 0; 
}

.content-wrap.top-pad {
    padding: 40px 0;
}

.general-padding {
    padding: 0 32px;
}







/* =========================================
    RESPONSIVE ADJUSTMENT
========================================= */


@media (max-width: 1330px) {
    /* =========================================
    CONTENT WRAP
    ========================================= */

    .wrap-medium  {
        padding: 0 4%;
        margin: auto;
    }

    .wrap-small {
        padding: 0 4%;
    }

    /* =========================================
    TYPOGRAPHY
    ========================================= */

    h1 {
        font-size: 22px;
    } 

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    .subheading {
        font-size: 13px;
        line-height: 1.5;
    }

    .subheading-two {
        font-size: 11px;
    }

    /*/* =========================================
    STRUCTURE - MENU-SCROLL
    ========================================= 

    .menu-scroll {
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: sticky;
        background-color: hsl(0, 0%, 9%);
        z-index: 10;
        top: 0;
        padding-top: 40px;
        height: 74px;
        border: 1px solid transparent;
        transition: all .4s cubic-bezier(0.3, 0.9, 0.4, 1);
    }

    .menu-scroll h1 {
        transition: all .4s cubic-bezier(0.3, 0.9, 0.4, 1);
    }

    .menu-scroll.stuck h1 {
        transition: all .6s cubic-bezier(0.3, 0.9, 0.4, 1);
    }


    .menu-scroll.stuck h1 {
        font-size: 18px;
    }

    .content {
        max-height: 100vh;
        scrollbar-width: none;
        overflow-y: scroll;
    }

    .content-wrap {
        padding: 0 0 40px 0; 
    }

    .content-wrap.top-pad {
        padding: 40px 0;
    }
    */

    .menu-scroll {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .menu-scroll.stuck {
        padding: 12px 4%;
        margin: 0px;
        height: 51px;
    }

    .menu-scroll.stuck h1 {
        font-size: 16px;
    }
}


/* =========================================
    BORDER PADDING
========================================= */

@media (max-width: 1023px) {

    .wrap-medium  {
        padding: 0 0;
        margin: auto;
    }

    .wrap-small {
        padding: 0 0;
    }

    .mob-pad {
        padding: 0 4%;
    }

    .content-wrap {
        padding: 0;
    }

    .menu-scroll {
        position: sticky;
        height: auto;
        padding: 36px 4% 36px 4%;
        width: auto;
        margin: 0;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }


    .menu-scroll.stuck {
        border-bottom: 1px solid #212121;
        background-color: hsl(0, 0%, 9%, .8);
        width: auto;
        padding: 14px 4%;
        margin: 0;
        height: auto;
        backdrop-filter: blur(5px);
        transition: all .6s cubic-bezier(0.3, 0.9, 0.4, 1);
    }

    .menu-scroll.stuck h1 {
        font-size: 16px;
    }

    .content {
        padding-bottom: 40px;
    }

    p {
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1.2;
    }
}
