* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -0.008em;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #171717;
  overflow-x: hidden;
  overflow: hidden;
}

.wrap,
html,
body,
#root {
  min-height: 100svh;
}




/* =========================================
  TRANSITIONS
========================================= */

input::placeholder,
a,
.trans,
input,
button {
  transition: all .18s cubic-bezier(0.3, 0.9, 0.4, 1);
}


/* =========================================
  BUTTON
========================================= */

button {
  background-color: transparent;
  border: none;
}

button:active {
  scale: 95%;
}

a {
  text-decoration: none;
}

/* =========================================
  INPUT
========================================= */

input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

/* =========================================
  CURSOS
========================================= */

a,
button {
  cursor: pointer;
}

.not-finished {
  cursor: not-allowed !important;
}

/* =========================================
ICONS
========================================= */

.icon.stroke {
  fill: none !important;
}

/* =========================================
  FLEX
========================================= */


.f-col {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.fleex6 {
  flex: 6;
}

.flex7 {
  flex: 7;
}

.flex8 {
  flex: 8;
}

.flex9 {
  flex: 9;
}

.cen,
.f-row {
  display: flex;
  align-items: center;
}

.a-f-s {
  align-items: flex-start;
}

.a-f-e {
  align-items: flex-end;
}

.f-wrap {
  flex-wrap: wrap;
}

.cen {
  justify-content: center;
}

.j-s-b {
  justify-content: space-between;
}

.a-s {
  align-items: stretch;
}

/* =========================================
  GAP
========================================= */

@media (min-width: 1330px) {
  .g52 {
    gap: 52px;
  }

  .g40 {
    gap: 40px;
  }

  .g36 {
    gap: 36px;
  }

  .g32 {
    gap: 32px;
  }

  .g24 {
    gap: 24px;
  }
  
  .g20 {
    gap: 20px;
  }

  .g18 {
    gap: 18px;
  }

  .g16 {
    gap: 16px;
  }

  .g14 {
    gap: 14px;
  }

  .g12 {
    gap: 12px;
  }

  .g10 {
    gap: 10px;
  }

  .g8 {
    gap: 8px;
  }

  .g6 {
    gap: 6px;
  }

  .g4 {
    gap: 4px;
  }
}




/* =========================================
  RESPONSIVE ADJUSTMENT
========================================= */

@media (max-width: 1330px) {

    /* =========================================
      GAP
    ========================================= */

      .g52 {
        gap: 48px;
      }

      .g40 {
        gap: 36px;
      }

      .g36 {
        gap: 32px;
      }

      .g32 {
        gap: 28px;
      }

      .g24 {
        gap: 20px;
      }
      
      .g20 {
        gap: 18px;
      }

      .g18 {
        gap: 16px;
      }

      .g16 {
        gap: 14px;
      }

      .g14 {
        gap: 12px;
      }

      .g12 {
        gap: 10px;
      }

      .g10 {
        gap: 8px;
      }

      .g8 {
        gap: 7px;
      }

      .g6 {
        gap: 5px;
      }

      .g4 {
        gap: 3px;
      }
}